* {
  box-sizing: border-box;
}

.pRodukpage {
  display: flex;
  align-items: flex-start;
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  overflow: hidden;

  .line15 {
    margin-top: 9px;
    margin-left: 5px;
    width: 907px;
    height: 1px;
    background-image: linear-gradient(
      269.69deg,
      #00000033 20.78%,
      #000000 53.7%,
      #00000033 86.79%
    );
  }

  .moreHoriz {
    margin-top: 14px;
    margin-left: 3px;
    width: 24px;
    height: 24px;
  }

  .contentCopy {
    margin-top: 16px;
    margin-left: 2px;
    width: 20px;
    height: 20px;
  }

  .aIconEditOutline {
    margin-top: 15px;
    margin-left: 33px;
    width: 21px;
    height: 21px;
  }

  .a10102022113426956Bb {
    margin-left: 30px;
    width: 50px;
    height: 50px;
  }

  .rectangle25 {
    margin-top: 16px;
    border: 1px solid #0000004d;
    border-radius: 2px;
    background: #ffffff;
    width: 18px;
    height: 18px;
  }

  .order {
    line-height: 22px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  .rectangle1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #292929;
    padding: 26px 12px 336px 0px;

    .boxIcon {
      width: 18px;
      height: 18px;
    }

    .logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 22px;
      margin-left: 42px;

      .maskGroup {
        margin-left: 22px;
        width: 55px;
        height: 49px;
      }

      .mArline {
        margin: 8px 0px 0px;
        width: 112px;
        height: 30px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 800;
      }
    }

    .home2 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin: 87px 87px 0px 7px;
      min-width: 82px;

      .aIconHomeOutline {
        width: 30px;
        height: 30px;
      }

      .home {
        margin: 7px 0px 0px;
        line-height: 22px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
    }

    .rectangle2 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 18px;
      margin-left: -1px;
      border-radius: 0px 50px 50px 0px;
      background: #ffffff;
      padding: 17px 17px 16px 14px;
      min-width: 177px;
      height: 55px;

      .product2 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 91px;
        min-width: 91px;

        .product {
          line-height: 22px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }

      .ellipse2 {
        border-radius: 50%;
        background: #292929;
        width: 15px;
        height: 15px;
      }
    }

    .order2 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin: 19px 88px 0px 13px;
      min-width: 75px;
    }

    .payment {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin: 35px 65px 0px 12px;
      min-width: 99px;

      .creditCard {
        margin-top: 5px;
        width: 20px;
        height: 16px;
      }
    }

    .statictic2 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin: 35px 70px 0px 15px;
      min-width: 91px;

      .legendToggle {
        margin-top: 1px;
        width: 18px;
        height: 16px;
      }

      .statictic {
        line-height: 22px;
        letter-spacing: 0;
        color: #fffcfc;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
    }

    .shipping {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin: 35px 67px 0px 14px;
      min-width: 95px;

      .localShipping {
        margin-top: 5px;
        width: 21px;
        height: 15px;
      }
    }

    .manageUser {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin: 35px 30px 0px 15px;
      min-width: 131px;

      .manageAccounts {
        margin-top: 4px;
        width: 20px;
        height: 17px;
      }
    }

    .setting {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin: 35px 79px 0px 17px;
      min-width: 80px;
      height: 22px;

      .logoSetting {
        width: 17px;
        height: 17px;
      }
    }

    .logOut2 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin: 35px 71px 0px 17px;
      min-width: 88px;

      .logOut {
        margin-top: 5px;
        width: 17px;
        height: 17px;
        overflow: hidden;
      }
    }
  }

  .autoWrapper5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 29px;
    margin-left: 16px;

    .line14 {
      margin-top: 10px;
      margin-left: 5px;
      width: 907px;
      height: 1px;
      background-image: linear-gradient(
        269.69deg,
        #00000033 20.78%,
        #000000 53.7%,
        #00000033 86.79%
      );
    }

    .autoWrapper4 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 37px;
      padding-left: 0;

      .a1741D {
        margin: 14px 0px 0px 11px;
        line-height: 22px;
        letter-spacing: 0;
        color: #00000080;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .dollanWatch {
        margin: 13px 0px 0px 10px;
        line-height: 22px;
        letter-spacing: 0;
        color: #00000080;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .a12569756 {
        margin: 13px 0px 0px 88px;
        line-height: 22px;
        letter-spacing: 0;
        color: #00000080;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .warehouse1 {
        margin: 12px 0px 0px 29px;
        line-height: 22px;
        letter-spacing: 0;
        color: #00000080;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .a123 {
        margin: 12px 0px 0px 41px;
        line-height: 22px;
        letter-spacing: 0;
        color: #00000080;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .a1108 {
        margin: 12px 0px 0px 57px;
        line-height: 22px;
        letter-spacing: 0;
        color: #00000080;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
    }

    .autoWrapper2 {
      display: flex;
      align-items: center;
      align-self: stretch;
      padding-right: 10px;
      padding-left: 0;

      .rectangle17 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        background: #ffffff;
        padding: 9px 157px 9px 16px;
        width: 278px;
        min-width: 278px;
        height: 45px;

        .aIconSearch {
          width: 27px;
          height: 27px;
        }

        .search {
          line-height: 22px;
          letter-spacing: 0;
          color: #000000b2;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }

      .rectangle24 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 97px;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #292929;
        padding: 11px 9px 11px 12px;
        width: 130px;
        min-width: 130px;

        .aIconArrowIosDownwar {
          margin-top: 5px;
          width: 18px;
          height: 18px;
        }
      }

      .rectangle18 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 9px;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #292929;
        padding: 12px 9px 11px 10px;
        width: 165px;
        min-width: 165px;

        .filterNoId3 {
          line-height: 22px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;

          .filterNoId {
            letter-spacing: 0;
            color: #ffffff;
            font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }

          .filterNoId2 {
            letter-spacing: 0;
            color: #ffffff80;
            font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }
        }

        .aIconArrowIosDownwar2 {
          margin-top: 4px;
          width: 18px;
          height: 18px;
        }
      }

      .rectangle19 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 8px;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #292929;
        padding: 12px 7px 11px 12px;
        width: 117px;
        min-width: 117px;
        height: 45px;

        .add {
          width: 22px;
          height: 22px;
        }
      }

      .autoWrapper {
        position: relative;
        margin-left: 13px;
        width: 85px;
        height: 45px;

        .gridView {
          width: 26px;
          height: 26px;
        }

        .rectangle20 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          border-radius: 8px;
          box-shadow: 0px 4px 4px 0px #00000040;
          background: #292929;
          padding: 10px 11px 9px 48px;
          width: 85px;
          height: 45px;
        }

        .rectangle21 {
          display: flex;
          position: absolute;
          top: 0;
          left: -1px;
          align-items: center;
          border: 1px solid #000000;
          border-radius: 8px;
          background: #ffffff;
          padding: 9px 6px 8px;
          width: 40px;
          height: 45px;
        }
      }
    }

    .autoWrapper3 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 46px;
      padding-right: 46px;
      padding-left: 0;

      .rectangle23 {
        border: 1px solid #0000004d;
        border-radius: 2px;
        background: #ffffff;
        width: 18px;
        height: 18px;
      }

      .noId {
        margin: 0px 0px 0px 11px;
        line-height: 22px;
        letter-spacing: 0;
        color: #000000;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .product3 {
        margin: 0px 0px 0px 98px;
        line-height: 22px;
        letter-spacing: 0;
        color: #000000;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .sKu {
        margin: 0px 0px 0px 154px;
        line-height: 22px;
        letter-spacing: 0;
        color: #000000;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .location {
        margin: 0px 0px 0px 67px;
        line-height: 22px;
        letter-spacing: 0;
        color: #000000;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .price {
        margin: 0px 0px 0px 65px;
        line-height: 22px;
        letter-spacing: 0;
        color: #000000;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .stock {
        margin: 0px 0px 0px 59px;
        line-height: 22px;
        letter-spacing: 0;
        color: #000000;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .action {
        margin: 0px 0px 0px 44px;
        line-height: 22px;
        letter-spacing: 0;
        color: #000000;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
    }

    .group21 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 83px;
      height: 60px;
    }

    .group23 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 10px;
      height: 59px;
    }

    .group28 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 10px;
      height: 60px;
    }
  }

  .autoWrapper7 {
    position: relative;
    margin-left: 9px;
    width: 313px;
    height: 1024px;

    .rectangle12 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      background: #292929;
      padding: 38px 39px 612px 23px;
      width: 313px;
      height: 1024px;

      .previewProduct {
        line-height: 29px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }

      .a10102022113426956Bb2 {
        margin-top: 25px;
        margin-left: 44px;
        width: 180px;
        height: 181px;
      }

      .a1741DDollanWatch {
        margin: 15px 0px 0px;
        line-height: 24px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }

      .stock1108Warehouse1 {
        margin: 10px 0px 0px;
        line-height: 24px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }

      .price123 {
        margin: 11px 0px 0px;
        line-height: 24px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }

      .statusReadyStock {
        margin: 7px 0px 0px;
        line-height: 24px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }
    }

    .line12 {
      position: absolute;
      top: 152px;
      left: -921px;
      background: #000000;
      width: 907px;
      height: 1px;
    }

    .frame1 {
      position: absolute;
      top: 138px;
      left: -37px;
      width: 40px;
      height: 84px;
    }

    .group22 {
      display: flex;
      position: absolute;
      top: 157px;
      left: -921px;
      flex-direction: column;
      align-items: flex-start;
      width: 912px;
      height: 59px;

      .autoWrapper6 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 37px;
        padding-left: 0;

        .a1741D2 {
          margin: 14px 0px 0px 11px;
          line-height: 22px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }

        .dollanWatch2 {
          margin: 13px 0px 0px 10px;
          line-height: 22px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }

        .a125697562 {
          margin: 13px 0px 0px 88px;
          line-height: 22px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }

        .warehouse12 {
          margin: 12px 0px 0px 29px;
          line-height: 22px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }

        .a1232 {
          margin: 12px 0px 0px 41px;
          line-height: 22px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }

        .a11082 {
          margin: 12px 0px 0px 57px;
          line-height: 22px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }
    }
  }
}
