* {
  box-sizing: border-box;
}

.lOginpage {
  display: flex;
  align-items: flex-start;
  padding: 18px 29px 129px 40px;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  background-image: linear-gradient(180deg, #292929e8 10.42%, #ffffff08 100%);

  .ellipse34 {
    position: absolute;
    top: 0;
    left: 0;
    width: 401px;
    height: 359px;
  }

  .autoWrapper3 {
    position: relative;
    margin-top: 72px;
    width: 401px;
    height: 359px;

    .ellipse35 {
      position: absolute;
      bottom: -110px;
      left: -13px;
      width: 274px;
      height: 245px;
    }

    .ellipse40 {
      position: absolute;
      bottom: -212px;
      left: 185px;
      width: 199px;
      height: 178px;
    }

    .rectangle30 {
      display: flex;
      position: absolute;
      right: -615px;
      bottom: -462px;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid #0000004d;
      border-radius: 8px;
      box-shadow: 0px 4px 4px 0px #00000040;
      background: #ffffff;
      padding: 83px 143px 109px 144px;
      width: 679px;
      height: 750px;

      .username {
        line-height: 29px;
        letter-spacing: 0;
        color: #00000080;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }

      .uSerlogin {
        margin: 0px 0px 0px 113px;
        line-height: 34px;
        letter-spacing: 0;
        color: #000000;
        font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: 700;
      }

      .rectangle31 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 54px;
        border: 1px solid #00000080;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #ffffff;
        padding: 9px 211px 10px 13px;
        min-width: 390px;
        height: 58px;

        .aIconPersonOutline {
          width: 37px;
          height: 37px;
        }
      }

      .rectangle32 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 20px;
        border: 1px solid #00000080;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #ffffff;
        padding: 10px 218px 10px 14px;
        min-width: 390px;
        height: 58px;

        .lock {
          width: 36px;
          height: 36px;
        }
      }

      .autoWrapper {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 27px;
        padding-right: 0;
        padding-left: 1px;

        .aIconCheckmarkOutlin {
          border-radius: 2px;
          width: 22px;
          height: 22px;
        }

        .rememberMe {
          margin: 0px 0px 0px 18px;
          line-height: 26px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 22px;
        }

        .forgotPassword {
          margin: 0px 0px 0px 38px;
          line-height: 26px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 22px;
        }
      }

      .rectangle33 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin: 23px 113px 0px 94px;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #444242;
        padding: 9px 62px;

        .login {
          line-height: 29px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 800;
        }
      }

      .autoWrapper2 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 34px;
        padding-right: 69px;
        padding-left: 74px;

        .line19 {
          background: #000000;
          width: 97px;
          height: 1px;
        }

        .oR {
          line-height: 26px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 22px;
        }
      }

      .group34 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 42px;
        border: 1px solid #00000080;
        border-radius: 8px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #ffffff;
        padding: 10px 54px 9px;
        min-width: 390px;

        .google {
          width: 37px;
          height: 37px;
          overflow: hidden;
        }

        .continueWithGoogle {
          margin: 5px 0px 0px;
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }

      .group35 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin: 24px 31px 0px 30px;
        min-width: 329px;
        height: 24px;

        .donTHaveAnAccount {
          line-height: 24px;
          letter-spacing: 0;
          color: #000000;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }

        .signUpHere {
          line-height: 24px;
          letter-spacing: 0;
          color: #0c1cab;
          font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }
      }
    }

    .ellipse33 {
      position: absolute;
      top: -205px;
      left: -161px;
      width: 401px;
      height: 359px;
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 201px;

    .maskGroup {
      margin-left: 35px;
      width: 80px;
      height: 71px;
    }

    .mArline {
      margin: 11px 0px 0px;
      width: 157px;
      height: 43px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Lato, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 800;
    }
  }

  .autoWrapper4 {
    position: relative;
    margin-top: 518px;
    margin-left: 211px;
    width: 401px;
    height: 359px;

    .ellipse36 {
      position: absolute;
      top: -98px;
      right: -35px;
      width: 274px;
      height: 245px;
    }

    .ellipse39 {
      position: absolute;
      top: -219px;
      left: 60px;
      width: 189px;
      height: 169px;
    }

    .ellipse38 {
      position: absolute;
      right: -131px;
      bottom: -225px;
      width: 401px;
      height: 359px;
    }
  }
}
